body {
  margin: 0;
  display: flex;
  font-family: Arial;
  background: #121212;
  color: white;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #1E1E1E;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar li {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 8px;
}

.sidebar li:hover,
.sidebar .active {
  background: #333;
}

/* Main */
.main {
  margin-left: 260px;
  padding: 30px;
  width: 100%;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

input {
  width: 300px;
  padding: 12px;
  margin: 10px 0;
  background: #1E1E1E;
  border: 1px solid #333;
  border-radius: 6px;
  color: white;
}

button {
  padding: 10px 20px;
  background: dodgerblue;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  background: #1E1E1E;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}
